{% extends 'base.html' %}
{% load static %}

{% block content %}

  <body>
    <header>
      <nav class="container container--70">
        {% include '../partials/_menu.html' %}
      </nav>
    </header>

    <section class="login-page">
      <h2>Zaloguj się</h2>
            <form action="" method="POST"> {% csrf_token %}
          {% for i in form %}
              <div class="form-group">
          {{ i }}
              </div>
          {% endfor %}
        <div class="form-group">

          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'share:register' %}" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button>
        </div>
      </form>
    </section>

{% endblock %}

